@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  height: 100svh;
  width: 100svh;
  scale: 4;
  overflow: hidden;
  background: rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  animation: scale0 0.8s ease forwards;
}

@keyframes scale0 {
  100% {
    scale: 0;
  }
}


.chat-card::-webkit-scrollbar {
  width: 5px;
  background: rgba(255, 255, 255, 0.253);
  border-radius: 20px;
}

.chat-card::-webkit-scrollbar-thumb {
  background: rgb(162, 0, 255);
  border-radius: 20px;
}